<html>
<body>
    <h3> Cricket Header  component</h3>

<h3 data-sly-text="${currentPage.title}"></h3>

<h3 data-sly-test.a="${properties.paths}"></h3>
${properties.paths}


<!--
<ul data-sly-list.child="${currentPage.listChildren}">
    <li>${child.title}</li>
</ul>

<sly>
        <a href="${properties.paths || currentStyle.paths @ extension='html'}">main 1</a>
        <div data-sly-resource="${'navigation' @ resourceType='/apps/CricketScoreApp/components/content/nav'}"></div>   
    </sly>
<div data-sly-resource="$s{'site-topnav' @ resourceType='/apps/CricketScoreApp/components/content/Head nav Component'}"></div>
-->








</body>
</html>
